@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam";
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: white;
  padding: 0 !important;
}

.navbar-brand {
  color: white !important;
  font-weight: 700;
}

.navbar-brand img {
  height: 5rem;
  padding-left: 2.5rem;
}

.navbar-nav li {
  padding: 0 2rem;
}

.navbar-nav li a {
  color: white !important;
  font-weight: 700;
  float: right;
  text-align: left;
}

.fa-bars {
  color: white;
  font-size: 2rem !important;
}

.navbar-toggler {
  outline: none !important;
}

/* banner section  */

#banner {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: white;
  padding-top: 5%;
}

#banner h1 {
  font-weight: 700;
  margin-top: 2rem;
  padding-bottom: 1.2rem;
}

#banner p {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 2rem 0;
}

#banner .fa-play-circle-o {
  padding: 1rem 0;
  margin: 1rem;
  font-size: 2rem;
  color: white;
}

#banner .fa-play-circle-o:hover {
  color: #cb4ddf;
}

#banner a p {
  padding: 0 2rem;
  font-weight: 500;
  transform: translateY(-130%);
  font-size: 1.2rem;
}

#banner a {
  margin-left: 2rem;
}

.img-fluid {
  height: 100%;
}

.bottom-img {
  width: 100%;
  height: 50%;
  /* transform: translateY(-100%); */
  transform: rotateX(180deg);
}

/* services section */

#services {
  padding: -10rem 0;
}

#services img {
  width: 25rem;
  /* height: 20rem; */
  margin-top: 5rem;
}

.services {
  padding: 5rem;
}
.bla img {
  width: 15rem !important;
  /* height: 15rem; */
}

.blaa img {
  width: 22rem !important;
}

.services h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 1.5rem;
}

.services p {
  font-weight: 500 !important;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1.5rem;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -10%;
  text-transform: uppercase;
}

.title::before {
  content: "";
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin: 0 auto;
  /* margin-bottom: 40px; */
  display: block;
  transform: translateY(5rem);
}

.title::after {
  content: "";
  background: #7b1798;
  height: 10px;
  width: 50px;
  margin: 0 auto;
  display: block;
  transform: translateY(1rem);
}

/* about section  */

#about {
  background: #f8f9fa;
  padding: 10rem 0;
}

#about h1 {
  transform: translateY(-5rem);
}

.about-us {
  padding: 5rem;
  margin-top: 2rem;
}

.about-title {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.about-img {
  transform: translateY(5rem);
  width: 100%;
}

#about ul li {
  margin: 10px 0;
  font-weight: 400;
  font-size: 1.2rem;
}

#about ul {
  margin-left: 2rem;
}

/* testimonials section */

#testimonials {
  margin: 15rem 0;
}

#testimonials h1 {
  transform: translateY(-10rem);
}

.testimonials {
  border-left: 4px solid #a517ba;
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials img {
  width: 10%;
  border-radius: 50%;
}

.space {
  margin-left: 5rem;
  margin-top: 10rem;
}

.user-details {
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
}

/* social media section */

#social-media {
  background: #f8f9fa;
  padding: 10rem 0;
}

#social-media p {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.social-icons {
  font-size: 4rem;
}

.social-icons a i {
  color: #7b1798;
}

.social-icons a i:hover {
  color: #cb4ddf;
}

/* footer section */

#contact {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: white;
}

.footer-logo {
  height: 10rem;
  margin-bottom: 1rem;
}

.footer-box {
  padding: 5rem 0;
  margin-left: -5rem;
}

.down {
  margin-top: 4rem;
  margin-left: 1rem;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
